bootstrap-admin==0.4.4
bulma==1.0.1
Django==4.1.7
django-admin-interface==0.24.2
django-appconf==1.0.5
django-bootstrap5==22.2
django-bulma==0.8.3
django-ckeditor==6.5.1
django-colorfield==0.8.0

django-crispy-forms==2.0
django-extensions==3.2.1
django-fontawesome-5==1.0.18
django-google-fonts==0.0.3
djangorestframework==3.14.0
googletrans==4.0.0rc1
Pillow==9.4.0
pipreqs==0.4.13
django_pivot
crispy_bulma
django_nested_admin
django_select2
django-ckeditor
